.container .liquid-container, .container textarea{
  width: 100%;
};

.taskInput{
  display: inline-block;
}

.done{
  text-decoration: line-through;
  color: #ccc;
}

.ember-power-select-trigger{
  min-width: 150px;
  margin-right: 5px;;
}

.weekday {
  width: 13.6%;
}